








  
  

/* .event-details {
justify-content: start;
  text-align: left;
  padding: 2rem;
  max-width: 50%;
}  */

/* .event-details h2 {
  font-family: var(--ff-title);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 300;
} */

/* .event-details p {
  font-size: var(--fs-base);
  line-height: 1.7rem;
  overflow-wrap: break-word;
  margin: 1rem 0;
} */

 
  
 

  /* @media (max-width: 800px) {

    .farm-container {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }  */