.farm-container {
    display: flex;
    height: 500px;
}

.farm-image {
    min-width: 70%;
    object-fit: cover;
}

.farm-text {
    background-color:  #99b6c4;
    color: white;
    text-align: left;
    padding: 1rem;
    font-family: var(--ff-title);
    line-height: 1.7rem;
    overflow-wrap: break-word;
}

.farm-text p{
    margin-bottom: 1.5rem;
}

@media (max-width: 800px) {

    .farm-container {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
  }