.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 1200px;
    margin: 2rem auto;
  }

.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    max-width: 800px;
    justify-content: center;
    text-align: center;
    gap: 0.5rem 1.5rem;
  }

    .product-card {
      max-width: 100%;
margin-bottom: 1rem;
    } 

    .image-container {
      overflow: hidden;
      height: 150px;
      margin: 0;
      border-radius: 20px;
    }
    
    .image-container img {
     object-fit: cover;
max-width: 100%;
     max-height: 100%;
     border-radius: 20px;
    }

    .image-container img:hover {
      transform: scale(1.07);
     }

    .product-card h2 {
      font-size: var(--fs-big);
      margin: 0.7rem 0;
      text-align: left;

    }

    .price {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      gap: 1rem;
      font-size: var(--fs-base);
    }
/* 
    .original-price {
    }  */

    .old-price {
      text-decoration: line-through;
      color: gray;
      /* font-size: var(--fs-base); */
    }
    
    .new-price {
      color: red;
    }

    .weight {
      font-size: var(--fs-small);
      color: rgb(123, 122, 122);
    }

    .season {
      font-size: 0.8rem;
      color: rgb(88, 86, 86);
      text-align: left;
    }

    @media (max-width: 800px) {

        .products {
            display: grid;
            grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));;
          }
      }
